/**
*
* Icons
*
**/

.icon {
  font-family: 'fte-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-menu:before {
  content: "\e600"
}

.icon-google-plus:before {
  content: "\e601"
}

.icon-facebook:before {
  content: "\e602"
}

.icon-twitter:before {
  content: "\e603"
}

.icon-instagram:before {
  content: "\e604"
}

.icon-youtube:before {
  content: "\e605"
}

.icon-feed:before {
  content: "\e606"
}

.icon-tumblr:before {
  content: "\e607"
}

.icon-pinterest:before {
  content: "\e608"
}

.icon-linkedin:before {
  content: "\e609"
}

.icon-search2:before {
  content: "\e60a"
}

.icon-print:before {
  content: "\e610"
}

.icon-checkmark:before {
  content: "\e60b"
}

.icon-mail:before {
  content: "\e60e"
}

.icon-menu2:before {
  content: "\e60c"
}

.icon-menu-desktop:before {
  content: "\e60d"
}

.icon-search:before {
  content: "\e60f"
}