/**
*
* Main
*
**/

// Layout 

.body__global__nav--is--open {
  overflow-y: hidden;
}

.btn {
  @include input-reset;
  border-width: 1px;
  border-style: solid;
  padding: $baseSpace;
}

.btn--ui {
  border-color: $black;
  background-color: transparent;
  padding: $baseSpace / 2;
  cursor: pointer;
  transition: 0.2s background ease-in-out, 0.2s color ease-in-out;
  &:hover, 
  &:active {
    background: $black;
    color: $white;
  }
}

.btn--ui--is--on {
  background: $black;
  color: $white;
}


// Header

.global__header {
  background: rgb(240,240,240);
  padding: $baseSpace $baseSpace * 2 $baseSpace * 2;
  @media (min-width: $large) {
    padding: $baseSpace * 2;
  }
}

.global__header__wrap {
  max-width: $maxBodyWidth;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.global__header__ad--banner {
  background: $lightGray;
  margin: 0 auto;
  margin-bottom: $baseSpace * 2;
  height: 5rem;
  width: 320px;
  @media (min-width: $large) {
    height: 90px;
    width: 728px;
    margin-bottom: $baseSpace * 4;
  }
}

.global__header__wrap--primary {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $black;
  width: 100%;
  padding-bottom: $baseSpace;
  @media (min-width: $medium) {
    padding-bottom: $baseSpace / 2;
    margin-bottom: $baseSpace;
  }
}

.global__header__wrap--primary--is--searching {
  justify-content: flex-end;
  .global__header__wrap--primary--sub {
    width: 100%;
    max-width: 30rem;
  }
  .global__header__logo__link--fte {
    background-image: url('../images/fox_head_only.png');
  }
  .global__header__search {
    width: 100%;
  }
  .global__header__search__field {
    display: block;
    width: 100%;
  }
  @media (min-width: $medium) {
    justify-content: space-between;
    .global__header__logo__link--fte {
      display: block;
      background-image: url('../images/logo.png');
    }
  }
}

.global__header__logo__link--fte {
  width: 20rem;
  margin-right: $baseSpace * 2;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  @media (min-width: $medium) {
    width: 25rem;
  }
}

.global__header__logo__link--fte--is--hidden {
  display: none;
}

.global__header__logo--fte {
  width: 100%;
  vertical-align: middle;
}

.global__header__wrap--primary--sub {
  display: flex;
  align-items: center;
  @media (min-width: $medium) {
    padding-bottom: $baseSpace;
  }
}

.global__header__search {
  border-color: $black;
  margin-right: $baseSpace;
  display: flex;
  align-items: stretch;
}

.global__header__search__field {
  @include input-reset;
  -webkit-appearance: none;
  padding: $baseSpace / 2;
  display: none;
  min-width: 15rem;
}

.global__header__search__field--is--open {
  display: block;
}

.global__header__search__submit {
  width: 2.5rem;
  flex-shrink: 0;
}

.global__header__search__submit__icon {
  font-family: $icon;
  font-style: normal;
  font-size: $fontTiny;
}

.global__header__logo__link--espn {
  width: 50px;
  height: 14px;
  background: url('../images/espn-red_50.png') no-repeat;
  transition: 0.2s background-image ease-in-out;
  display: none;
  flex-shrink: 0;
  &:hover {
    background-image: url('../images/espn-black_50.png');
  }
  @media (min-width: $medium) {
    display: inline-block;
  }
}

.global__header__logo--espn {
  vertical-align: middle;
}

.global__header__nav__btn {
  position: relative;
  font-family: $atlas;
  @media (min-width: $medium) {
    display: none;
  }
}

.global__header__nav__btn--is--open {
  color: transparent;
  &:hover, 
  &:active {
    color: transparent;
  }
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    color: $white;
    content: "Close";
  }
}

.global__header__wrap--secondary {
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;

  opacity: 0;
  transition: visibility 0s, opacity 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  visibility: hidden;

  @media (min-width: $medium) {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

.global__header__wrap--secondary--is--open {

  visibility: visible;
  opacity: 1;

  .global__header__nav {
    display: flex;
    height: 100vh;
  }

  .global__header__nav__item {
    margin: $baseSpace * 2 $baseSpace * 3 0 0;
  }

}

.global__header__nav {
  margin-right: $baseSpace;
  height: 0;
  transition: height 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  @media (min-width: $medium) {
    height: auto;
    display: flex;
  } 
}

.global__header__nav__item  {
  display: inline-block;
  margin: 0;
  display: block;
  line-height: 100%;
  @media (min-width: $medium) {
    display: inline;
    margin: $baseSpace * 2 $baseSpace * 3 0 0;
  }
}

.global__header__nav__item--mobile {
  display: block;
  @media (min-width: $medium) {
    display: none;
  }
}

.global__header__nav__link {
  font-family: $atlas;
  font-weight: 700;
}

.global__header__updated {
  color: $lightGray;
  font-family: $atlas;
  max-width: 30rem;
  display: none;
  margin-bottom: 0;
  @media (min-width: $large) {
    display: inline;
  }
}



// Links

a.link {
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

a.link--ui {
  position: relative;
  &:after {
    content: "+";
    position: absolute;
    right: $baseSpace * -1;
    bottom: 0;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

a.link-resource {
  color: $linkBlue;
  &:hover,
  &:active,
  &:focus {
    color: $linkBlue;
  }
}
