.container.wrap--main.footer
    #entry-comments.fte-expandable
        h3#fte-expandable-title
          | Comments
          span.add-comment Add Comment
          |     
          span#fte-expandable-icon
        | &#x9;
        #entry-comments-content.fte-expandable-content(style='display: none')
          #fb-comments.fb-comments.fb_iframe_widget(data-href="#{pageconfig.url}", data-numposts='5', data-colorscheme='light', data-width='100%')
      #colophon
        #footer-social
          .menu-main-container
            ul.menu
              li
                a(href='http://fivethirtyeight.com/contact/') Contact
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://espn.com', target='_blank') ESPN
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://fivethirtyeight.com') FiveThirtyEight
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://fivethirtyeight.com/jobs/') Jobs
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://fivethirtyeight.com/masthead/') Masthead
        | &#x9;
        #footer-navigation
          .menu-main-container
            ul.menu
              li
                a(href='http://fivethirtyeight.com/politics/') Politics
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://fivethirtyeight.com/economics/') Economics
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://fivethirtyeight.com/science/') Science
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://fivethirtyeight.com/life/') Life
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='http://fivethirtyeight.com/sports/') Sports
        | &#x9;
        p#copyright
          a(href='http://disneytermsofuse.com/') Terms of Use
          |  and 
          a(href='https://disneyprivacycenter.com/') Privacy Policy
          |  and Safety Information/
          a(href='https://disneyprivacycenter.com/notice-to-california-residents/') Your California Privacy Rights
          | /
          a(href='https://disneyprivacycenter.com/kids-privacy-policy/english/') Children&apos;s Online Privacy Policy
          |  are applicable to you. &copy;2015 ESPN Internet Ventures. All rights reserved. 
          a(href='https://preferences-mgr.truste.com/?type=espn&affiliateId=148') Interest-Based Ads
