header.global__header
	div.global__header__wrap
		img.global__header__ad--banner
		div.global__header__wrap--primary#js--global__header__wrap--primary
			a(href="http://fivethirtyeight.com/", class="global__header__logo__link--fte", id="js--global__header__logo__link--fte")
			div.global__header__wrap--primary--sub
				form.global__header__search
					input(type="search", class="global__header__search__field", id="js--global__header__search__field", placeholder="Search")
					button(type="button", class="btn btn--ui global__header__search__submit", id="js--global__header__search__submit")
						i.icon-search.global__header__search__submit__icon
				a(href="http://espn.go.com/", class="global__header__logo__link--espn")
				button(class="btn btn--ui global__header__nav__btn", id="js--global__header__nav__btn") Menu
		div.global__header__wrap--secondary#js--global__header__wrap--secondary
			nav.global__header__nav
				ul.global__header__nav__list
					li.global__header__nav__item 
						a(href="http://fivethirtyeight.com/politics/", class="global__header__nav__link link--ui") Politics
					li.global__header__nav__item 
						a(href="http://fivethirtyeight.com/sports/", class="global__header__nav__link link--ui") Sports
					li.global__header__nav__item 
						a(href="http://fivethirtyeight.com/science/", class="global__header__nav__link link--ui") Science &amp; Health
					li.global__header__nav__item 
						a(href="http://fivethirtyeight.com/economics/", class="global__header__nav__link link--ui") Economics
					li.global__header__nav__item 
						a(href="http://fivethirtyeight.com/life/", class="global__header__nav__link link--ui") Culture
			p.global__header__updated
				span.global__header__updated Just updated: 
				a(href="updatedlink", class="link") NFL Predictions