<!-- Annotations -->

<section class="notes__wrap">

	<img src="https://tpc.googlesyndication.com/simgad/8836766085288051323" class="ad">

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref1" name="cmnt1">[a]</a> Their-complication-versus-our-simplicity is always an effective theme in political speeches. It’s tired, sure, but it’s less annoying and probably less disingenuous than they-divide-whereas-we-unite.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref2" name="cmnt2">[b]</a> If you had to choose, would you rather have a smaller government providing fewer services, or a bigger government providing more services?</p>

	    <p>Republicans: 78 % smaller government</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref3" name="cmnt3">[c]</a> Data on trust going back a long time...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref4" name="cmnt4">[d]</a> Clearly no one would actually say that. But American liberals have frequently been guilty of conveying supercilious attitudes on political questions, and this kind of rhetoric capitalizes on non-liberals’ unfavorable impression.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref5" name="cmnt5">[e]</a> Overall, would you say you generally trust the federal government, or not?</p>

	    <p>Only 25% of Republicans do</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref6" name="cmnt6">[f]</a> Can do a favorability chart on Democrats in congress</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref7" name="cmnt7">[g]</a> If you had to choose, would you rather have a smaller government providing fewer services, or a bigger government providing more services?</p>

	    <p>78% of Republicans want smaller government</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref8" name="cmnt8">[h]</a> It’s important not to state this line precisely. If you say, e.g., that to understand these principles “you don’t need a degree from an Ivey League school,” you risk making your supporters sound stupid. Hence the narrower “latest trendy subject”: there are probably very few holders of degrees in Queer Theory in a typical GOP audience.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref9" name="cmnt9">[i]</a> We can do a nice chart showing where GOPers get their news from</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref10" name="cmnt10">[j]</a> Make sure to say “get your opinions” from the Times, not simply “read” the Times. Some of your listeners will actually read the Times.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref11" name="cmnt11">[k]</a> A chart on insider, outsider for GOP primary this year vs others...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref12" name="cmnt12">[l]</a> Consider amending to “northeast and west coast intelligentsia” for locations not in the northeast or on the west coast.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref13" name="cmnt13">[m]</a> Sounds less cliched than “common sense,” plus it has a religious component.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref14" name="cmnt14">[n]</a> A chart on more vs. less government and services</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref15" name="cmnt15">[o]</a> The difficulty here is that, although it’s indisputable that minimum wage increases slow job growth and thus hurt the people they’re intended to help &ndash; low-end job seekers &ndash; it’s almost impossible to express opposition to minimum wage increases without sounding either (a) wonkish and indecipherable or (b) unsympathetic to low-income workers, many of them potential GOP voters. A commentator can speak clearly on the topic; a politician cannot. Better to stick with the generalized “job-killer” language.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref16" name="cmnt16">[p]</a> As you may know, the federal government sets the national minimum wage -- the lowest rate in dollars per hour that most workers should be paid -- which is now set at seven dollars and twenty-five cents an hour. Which of the following comes closest to your view on how the federal government should handle the minimum wage? SCALE: 1. The government should raise the minimum wage because it would help lots of people pay their bills 2. The government should NOT raise the minimum wage because it would cause businesses to cut jobs 3. There shouldn’t be a minimum wage because government shouldn’t tell businesses what to pay their employees</p>

	    <p>Republicans: 38% don&#39;t raise, 35% no minimum wage</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref17" name="cmnt17">[q]</a> Depending on the audience, this may be too wonkish. You may need to say simply “It’s a job killer” here and move on.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref18" name="cmnt18">[r]</a> Republican politicians sometimes try to avoid the word “poor”: “those in need,” “the neediest among us,” “the deserving poor,” etc. Good grief. Just say “the poor.” It’s more honest and sounds more humane.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref19" name="cmnt19">[s]</a> Should the government do more to reduce the gap between the rich and the poor in this country, or is this something the government should not be doing</p>

	    <p>Republicans: 64% should not</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref20" name="cmnt20">[t]</a> Do you think it will be necessary or not necessary to cut back on government programs that benefit people like you?</p>

	    <p>Republicans: 68% necessary</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref21" name="cmnt21">[u]</a> Obviously, don’t say “business owners” or “company executives.” Make it more familiar, and pretend that every business is a small mom-and-pop struggling to keep the lights on.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref22" name="cmnt22">[v]</a> Impact of free trade agreements on jobs in U.S?</p>

	    <p>Republicans: 51% leads to job losses</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref23" name="cmnt23">[w]</a> Trade policy is a serious problem in a speech like this. The GOP is divided almost down the middle, and both parties favor the Export-Import Bank in about equal measure. The best thing to do here is (a) make quick rhetorical gestures in both directions, (b) blame the whole thing on unions, and (c) pretend the question is about whether the U.S. “can compete” with other countries. Also, instead of saying “protect” the American economy, say “safeguard.”</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref24" name="cmnt24">[x]</a> a chart of labor union support over time or percentage of Republicans belonging to a union...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref25" name="cmnt25">[y]</a> Do you think it is necessary to take immediate action to lower the budget deficit or do you think it is possible to wait for better economic times?</p>

	    <p>Republicans: 68% act immediatly</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref26" name="cmnt26">[z]</a> A chart of the deficit over time or a chart about how many Republicans are worried about the deficit...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref27" name="cmnt27">[aa]</a> Technically, the argument was that the Affordable Care Act would reduce the budget deficit, not actually balance the budget. (Either way, the argument was bogus.) That’s why the word “help” is here: we were told Obamacare would help to balance the budget by reducing it.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref28" name="cmnt28">[ab]</a> A “realistic approach” to government spending &ndash; and who can be against a realistic approach to anything? &ndash; will sound to many people like budget-cutting small-government fiscal conservatism. But of course it doesn’t have to be.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref29" name="cmnt29">[ac]</a> You can, of course, “take a hard look” at anything.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref30" name="cmnt30">[ad]</a> This is fast becoming one of the most overused clich&eacute;s in American politics. It sounds like it means tough-love budget cutting or the elimination of programs that are costing too much, but it could just as easily imply some nebulous “addressing” of fiscal issues. It could, in short, mean anything.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref31" name="cmnt31">[ae]</a> All this is true, but it won’t happen. Every politician &ndash; even the very liberal President Obama &ndash; comes into office promising to cut needless programs. It never happens. But a Republican seeking the presidency would be a fool not to make this promise.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref32" name="cmnt32">[af]</a> Do you favor or oppose raising taxes on people earning more than $1 million per year</p>

	    <p>Republicans: 53% favor</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref33" name="cmnt33">[ag]</a> In general, do you think the taxes you pay are too high, about right or too low?</p>

	    <p>Republicans: 68% too high</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref34" name="cmnt34">[ah]</a> According to the &quot;trickle-down theory&quot; in economics, lowering taxes for wealthy groups and individuals &ndash; corporations, investors and entrepreneurs &ndash; can stimulate the economy, leading to economic growth and greater wealth for everyone &ndash; even poorer people. Do you agree or disagree with this theory?</p>

	    <p>Republicans: 50% agree, 30% disagree</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref35" name="cmnt35">[ai]</a> You haven’t ruled out tax increases. You’ve only said you’ve got to cut government “first.”</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref36" name="cmnt36">[aj]</a> Don’t say “taxes.” Sounds like you’d consider a tax hike. Say revenue.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref37" name="cmnt37">[ak]</a> Phrasing signals an aversion to cutting taxes on anybody, without actually vowing not to cut taxes.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref38" name="cmnt38">[al]</a> Sometimes there aren’t many opportunities for clarity in political speeches, so when they do arise &ndash; when there is no reason to hedge or hide behind vague language &ndash; announce your intention to be clear. Or, if you feel strongly about it, “absolutely” clear.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref39" name="cmnt39">[am]</a> Just 4% of Republicans support the Iran nuclear deal.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref40" name="cmnt40">[an]</a> Could do a ton of charts on Israel and how GOP views them...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref41" name="cmnt41">[ao]</a> In the dispute between Israel and the Palestinians, do you sympathize with the Palestinians</p>

	    <p>Republicans: 6% a lot, 27% some</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref42" name="cmnt42">[ap]</a> In the dispute between Israel and the Palestinians, do you sympathize with Israel</p>

	    <p>Republicans: 51% a lot, 28% some</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref43" name="cmnt43">[aq]</a> Just like with Israel, lots of stuff on Russia... and stuff on Putin...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref44" name="cmnt44">[ar]</a> If Russia got into a serious military conflict with one of its neighboring countries that is our NATO ally, do you think the United States should or should not use military force to defend that country?</p>

	    <p>Republicans: 69% yes</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref45" name="cmnt45">[as]</a> This is wonkish talk, but you need a little of that just to flash your credentials.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref46" name="cmnt46">[at]</a> Declaring an intention to speak and act with clarity or resoluteness is a nice way to  criticize the present occupier of the office (in this case President Obama) &ndash; thus capitalizing on people’s suspicions that he isn’t decisive or doesn’t take principled stands &ndash; without obligating yourself to pursue specific policies once in office.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref47" name="cmnt47">[au]</a> Interesting polling on China being an ally or not...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref48" name="cmnt48">[av]</a> Here we have a legitimate criticism of the president’s incoherent foreign policy, seemingly contrasted with a clearer, more decisive alternative. Only the alternative is actually a statement of the obvious: We have to accept legitimate refugees but not terrorists.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref49" name="cmnt49">[aw]</a> Would you support or oppose the U.S. sending ground troops to fight ISIS in Iraq and Syria?</p>

	    <p>Republicans: 73% support</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref50" name="cmnt50">[ax]</a> Could do something on polling regarding terrorism as a threat...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref51" name="cmnt51">[ay]</a> In order to help deal with large numbers of migrants fleeing violence in Syria and other countries and entering Europe, the United States recently announced it will increase the number of refugees it accepts. All in all, do you approve or disapprove of this decision?&quot;</p>

	    <p>Republicans: 67% disapprove</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref52" name="cmnt52">[az]</a> Saying you’re certain what the wrong policy is &ndash; namely the policy of those presently in charge &ndash; is a reliable way to sound clear and confident when you have no idea what the right course is.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref53" name="cmnt53">[ba]</a> “Lawbreakers” could mean anyone in violation of immigration law. But it doesn’t have to mean that. It could refer to those who’ve committed criminal violations. Hence there’s a little room left for proposing a way for illegals to gain citizenship.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref54" name="cmnt54">[bb]</a> Do you think undocumented immigrants currently living in the United States should or should not be given the right to live and work here legally?</p>

	    <p>Republicans: 65% should not</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref55" name="cmnt55">[bc]</a> Should legal immigration be increased, kept at present level, or decreased?</p>

	    <p>Republicans: 21% increased, 34% kept at present level, 42% decreased</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref56" name="cmnt56">[bd]</a> What comes closer to your view: Immigrants today strengthen our country because of their hard work and talents OR Immigrants today are a burden on our country because they take our jobs, housing and health care?</p>

	    <p>Republicans: 63% burden</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref57" name="cmnt57">[be]</a> We have quickly shifted the question from the tangled topic of immigration policy (border enforcement? deportation? some form of amnesty?) to Barack Obama’s imperial presidency.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref58" name="cmnt58">[bf]</a> Yes, after six years it’s still misnamed. A Republican politician speaking to a Republican audience just can’t call it the Affordable Care Act without some distancing modifier.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref59" name="cmnt59">[bg]</a> “Reverse” doesn’t necessarily imply repealing ACA entirely, but you could reasonably interpret it that way.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref60" name="cmnt60">[bh]</a> Which one of the following comes closest to what you would like to see lawmakers do with the Affordable Care Act, also known as Obamacare -- would you like lawmakers to repeal the law entirely, repeal parts of the law, expand the law, or leave it as is?</p>

	    <p>Republicans: 60% repeal entirely, 26% repeal parts</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref61" name="cmnt61">[bi]</a> Remembering isn’t a policy stance. Entreaties to “remember” are usually meant to suggest general dispositions, not specific views on policy questions.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref62" name="cmnt62">[bj]</a> Could abortion positions over time among Republicans...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref63" name="cmnt63">[bk]</a> Do you think abortion should be always legal, mostly legal, mostly illegal, always illegal</p>

	    <p>Republicans: 60% mostly or always illegal</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref64" name="cmnt64">[bl]</a> In some respects that pro-life moment has been revivified by the exposure of Planned Parenthood’s ghoulish practices. But there is a danger, too. Politicians can easily claim pro-life credentials, not by taking definable stances on the issue of abortion itself, but merely by opposing a line item in the federal budget. That’s why, following poll numbers, we go from the hazy language of “moral clarity” and “remembering” to denouncing a single (though admittedly large and powerful) nonprofit organization. What about the legality of abortion? What about Roe v. Wade? No need to get that specific.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref65" name="cmnt65">[bm]</a> It’s probably unreasonable to promise any meaningful action on same-sex marriage, and a not insignificant minority of Republicans more or less support same-sex marriage, though perhaps not the Supreme Court’s decision. But silence on the question isn’t an option either, if you’re a GOP candidate. Best to shift the question to the kind of judicial appointments you’ll make. The idea is to signal ideological and cultural kinship, not necessarily to announce policy proposals.</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref66" name="cmnt66">[bn]</a> Supreme Court favorability over time... or confidence in the Supreme Court...</p>
	</div>

	<div class="note">
	    <p class="note__text"><a href="#cmnt_ref67" name="cmnt67">[bo]</a> It wouldn’t be a modern American campaign without a declaration of what the election is really “about.” Usually, as here, it’s not “about” personalities but “about” principles or “about” the American people.</p>
	</div>

</section>