div.main.wrap--main#main
	header.article__header
		div.header__wrap--title
			p.timestamp.article__timestamp 
				| 7:00 AM EST | NOV 23, 2015
			h1.article__title
				| The Perfect Republican Stump Speech
		div.header__wrap--text
			h2.article__subtitle
				| We asked former Republican speechwriter Barton Swaim to write a ​totally pandering stump speech for an imaginary GOP presidential candidate — one who ​espouses only positions that a majority of Republicans agree with. ​Here’s the speech he wrote, including notes to explain his phrasing, behind-the-scenes pro tips on appealing to Republican voters and the data he used to decide which positions to take.
			p.article__byline.article__byline--primary
				| By 
				a.link(href="http://fivethirtyeight.com/contributors/barton-swaim/") Barton Swaim
			p.article__byline.article__byline--secondary
				| Research by 
				a.link(href="http://fivethirtyeight.com/contributors/harry-enten/") Harry Enten
				|  and 
				a.link(href="http://fivethirtyeight.com/contributors/sam-henick/") Sam Henick
				| , graphics by 
				a.link(href="http://fivethirtyeight.com/contributors/ella-koeze/") Ella Koeze
				| , production by 
				a.link(href="http://fivethirtyeight.com/contributors/gus-wezerek/") Gus Wezerek
		img.header__img(src="./images/Gop-Speech-Transparent.gif")